<%- include('./partials/headerLoggedOut.ejs', {title: "Login"}) %>
<form action="/login" method="POST">
  <%if (error) { %>
    <script>alert(`Error! Wrong Username/Password`)</script>
  <% } %>
        <div class="container">
          <p>Please fill in this form to Login.</p>
          <hr>
          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter your username" name="username" id="username" required>
      
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="password" required>
      
          <button type="submit" class="registerbtn">Login</button>
        </div>
        
        <div class="container signin">
          <p>Don't have an account? Register Here <a href="/register">Register</a>.</p>
        </div>
      </form>
<%- include('./partials/footer.ejs') %>