<%- include('./partials/headerLoggedOut.ejs', {title: "Register"}) %>
    <form action="/register" method="POST">
        <div class="container">
          <p>Please fill in this form to create an account.</p>
          <hr>
  
          <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Enter your name" name="name" id="name" required>

          <label for="username"><b>Username</b></label>
          <input type="text" placeholder="Enter your username" name="username" id="username" required>
      
          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter email" name="email" id="email" required>

          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="password" required>
      
          <button type="submit" class="registerbtn">Register</button>
        </div>
        
        <div class="container signin">
          <p>Already have an account? <a href="/login">Sign in</a>.</p>
        </div>
      </form>
<%- include('./partials/footer.ejs') %>